	
aside li {
	list-style: none;
	padding: .3em 0;
	border-bottom: 2px dotted rgba(0,0,0,.25);
	border-top: 2px dotted white;
}

aside li:first-child {
	border-top: none;
}

aside li:last-child {
	border-bottom: none;
}

#specsTested li:before {
	content: '';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-right: .5em;
	vertical-align: -.2em;
	border-radius: 50%;
	box-shadow: 0 2px white;
}
			
footer {
	margin-left: 65%;
	font-size: 85%;
	word-spacing: -1px;
}

	footer > p {
		margin-left: 2em;
		padding: 1em 0;
		border-top: 1px solid hsl(200, 10%, 20%);
		text-align: center;
	}
	
/* Ad packs */
.bsa_it_ad {
	padding:10px !important;
	font: inherit !important;
	overflow: hidden;
}

	.bsa_it_i {
		display:block;
		float:none;
		margin: 0 10px 5px 0 !important;
	}
	
	.bsa_it_ad img {
		padding:0;
		border:none;
	}
	
	.bsa_it_ad .bsa_it_t {
		padding:1px 0 0 0;
	}
	
	.bsa_it_d {
		font-size: 70% !important;
	}
	
.bsa_it_p {
	display: none !important;
}

#bsap_aplink {
	display:block;
	font-size:10px;
	margin:12px 15px 0;
	text-align:right;
}
