a {
	font-weight: bold;
	text-decoration: none;
}

.wrap {
    width: 990px;
    margin: 0 auto;
}

body h1 {
	color: #000;
	font-size: 200%;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 .1em .1em #000;
}

.main {
    float: left; 
    width: 700px;
    margin-right: 20px;
}
.aside {
    float: left;
    width: 250px;
    padding-left: 20px;
}

.browser {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -o-box-shadow: 3px 3px 3px #ccc;
}
.browser span {
    color: #b00;
    font-weight: bold;
}

.browser-score {
    padding: 50px;
    border-bottom: 3px solid #000;
    margin-bottom: 10px;
}

.browser-score h2, 
.browser-score h3 {
    text-align: center;
    color: #2E3538;
    font-weight: bold;
}
.browser-score h2 { 
    font-size: 2em;
}

.main section h2 {
}

h2 .score,
li .score {
	float: right;
	font-weight: bold;
}

.all section,
.all div {
    margin: 10px 0 30px;
}
.all section .properties {
    margin: 0;
}
.tests h3 {
    color: #aaa;
}
.tests dl {
    margin: 3px;
}
.tests dt {
    font-size: 120%;
}

dt, dd[class] {
 	padding: .5em;
 	background: gray;
 	color: white;
 	border-radius: .3em;
 	text-shadow: 0 -.05em .1em rgba(0,0,0,.5);
 }
 
 dt {
 	cursor: pointer;
 }
 
 dd {
 	margin: .3em 0 .3em 2em;
 	font-size: 90%;
 }
 
 dd dd {
 	border: 1px solid white;
 }
 
 dd small {
 	display: block;
 	opacity: .8;
 }
 	
 dl .unsupport {
    cursor: default;
    background-color: #666;
 }
 dl .unsupport::before {
    content: '';
 }
 	
 dl .pass,
 #specsTested li.pass:before {
 	background-color: #490;
 }
 
 dl .almost-pass,
 #specsTested li.almost-pass:before {
 	background-color: #8c0;
 }
 
 dl .slightly-buggy,
 #specsTested li.slightly-buggy:before {
 	background-color: #bb0;
 }
 
 dl .buggy,
 #specsTested li.buggy:before {
 	background-color: #e80;
 }
 
 dl .very-buggy,
 #specsTested li.very-buggy:before {
 	background-color: #e40;
 }
 
 dl .fail,
 #specsTested li.fail:before {
 	background-color: #e20;
 }
 
 dl .epic-fail,
 #specsTested li.epic-fail:before {
 	background-color: #b00;
 }
 
 dt:before {
 	content: '▶';
 	display: inline-block;
 	margin-right: .5em;
 	font-size: 60%;
 	opacity: .5;
 }
 
 dl.open > dt:before {
 	content: '▼';
 }
 
 dl.open > .unsupport:before {
 	content: '';
 }
 
 dl > dd {
 	display: none;
 }
 
 dl.open > dd {
 	display: block;
 }



.aside .caution p {
	margin: 10px 0;
}
.aside .caution p {
	padding: 10px;
	background:#2E3438;
	color: white;
	text-shadow: 0 -.1em .2em black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
    -moz-box-shadow: 3px 3px 3px #bbb;
    -webkit-box-shadow: 3px 3px 3px #bbb;
    -o-box-shadow: 3px 3px 3px #bbb;
}

.aside ul {
	margin: 8px 0;
}

.aside li {
 	list-style: none;
 	padding: .3em 0;
 	border-bottom: 2px dotted rgba(0,0,0,.25);
 	border-top: 2px dotted white;
}
 
.aside li:first-child {
 	border-top: none;
}
 
.aside li:last-child {
 	border-bottom: none;
}
 
#specsTested li:before {
 	content: '';
 	display: inline-block;
 	width: 1.2em;
 	height: 1.2em;
 	margin-right: .5em;
 	vertical-align: -.2em;
 	border-radius: 50%;
 	box-shadow: 0 2px white;
}
