body, form, h1, h2, h3, h4, p, img, ul, li, ol, dl, dt, dd, a, span, input, tr, th, td{
    margin: 0;
    padding: 0;
}
body {
    font: normal 12px/1.5 "微软雅黑","Arial","宋体","Simsun","Tahoma",sans-serif;
    color: #333;
}
li{
    list-style: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
table { 
    border-collapse: collapse;
    border-spacing: 0;
}
.clear-fix:after{
    display: block;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    clear: both;
    content: "";
}  
.clear-fix{
    zoom: 1;
}
a{
    color: #000;
    text-decoration: none;
}
a:visited{
}
a:hover{
    text-decoration: underline;
}
a:active{
}
