.page_content {
    width: 990px;
    margin: 0 auto;
}
.page_content a {
    color: #4183C4;
}
.page_content h1 {
     font-size: 18px;
     padding: 10px 20px;
}
.page_content .box {
    padding: 10px 30px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #fff, #F3F3F3);
    background: -webkit-linear-gradient(top, #fff, #F3F3F3);
    background: -o-linear-gradient(top, #fff, #F3F3F3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFF3F3f3);
}
.page_content .box h2 {
    margin-bottom: 10px;
}
.page_content .box p,
.page_content .box li {
    line-height: 2em;
}
